image: golang:latest

stages:
  - test
  - build
  - deploy

test:
  stage: test
  script:
    - go test -Ñ -o ./... rsoi

build:
  stage: build
  script:
    - cd frontend && npm install && npm run build
    - mkdir -p public
    - cp -r frontend/dist/* public
    - go build -o rsoi .
  artifacts:
    paths:
      - public
      - rsoi

deploy:
  stage: deploy
  image: docker:latest
  script:
    - docker-compose up -d
  only:
    - master